{% extends "base.twig" %}

{% block title %}About{% endblock %}

{% block main %}

{% endblock %}

{% block modal %}
    <form action="" method='POST' enctype="multipart/form-data">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="login">Login :</label>
        <div class="col-sm-8">
            <input class="form-control-plaintext" type="text" id="login" name="login">
        </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="passwd">Password :</label>
        <div class="col-sm-8">
            <input class="form-control-plaintext" type="password" id="passwd" name="passwd">
        </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock %}