<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../assets/css/style.css">

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, hight=device-height, initial-scale=1"/>
        <link rel="shortcut icon" type="image/ico" href="/assets/img/Logo_CFSMA.PNG"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Staatliches" rel="stylesheet"/> 
    </head>
    <body>
        <div class=" bodydiv container-fluid">
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/">MyWebsite</a>

                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            {% if user.login == null %} <!-- Si l'utilisateur n'est déjà pas connecté-->
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#modal">Connexion</a>
                            {% else %}
                            <a class="nav-link" href="/logout">Déconnexion</a>
                            {% endif %}
                        </li>
                        <li class="navbar-item">
                            <a class="nav-link" href="tableauDeBord">Tableau de bord</a>
                        </li>
                    </ul>
                    {% if user.login != null %}
                    <form class="form-inline my-2 my-lg-0" action="/search" method='POST' enctype="multipart/form-data">
                        <input class="form-control my-sm-2 mr-sm-2" name="search" type="text" id="search" placeholder="Nom, prénom, section..." aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="searchbtn">Rechercher</button>
                    </form>
                    {% endif %}
                    <a class="nav-link" target="_blank" href="">Contact</a>
                </div>
                </nav>

                <!-- Début modal -->
                <div class="modal fade" tabindex="-1" role="dialog" id="modal" aria-labelledby="modal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Connexion</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {% block modal %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fin modal -->
            </header>
            <main class="container-fluid">
                {{ messages()| raw}}
                {% block main %}{% endblock %}
            </main>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
            {% block script %}{% endblock %}
            <footer class="page-footer footer font-small w-100 pb-0 container-fluid">
                <div class="row text-center">
                    <div class="col-md-auto">
                        <img class="logo" src="/assets/img/logo.PNG" alt="logo"/>
                    </div>
                    <div class="col-md-10">
                        <P class="pfoot">MyWebsite, made with some ❤️ and ☕.</p><p class="pfoot"> Dévelopé par et pour Quentin Champagne</p>
                        <a class="btn btn-footer" target="_blank" href="http://php.net">Powered with PHP</a> - 
                        <a class="btn btn-footer" href="/about">Documentation</a>
                    </div>
                     <div class="col-md-auto version">
                        <p>Version 2.0</p>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>