@viewport {
    height: device-height;
}

body {
    background-color: rgb(177,178,180);
    margin-top: 75px;
    text-align: justify;
    height: calc(100vh - 150px);
}

input {
    border-color: black;
    border: solid 1px !important;
    padding-left: 2px !important;
    border-width: 1px;
    margin-bottom: 0.5rem !important;
}

table tbody tr:nth-child(odd) {
    background-color: #d7d7d7; 
}

main {
    padding-bottom: 10px;
    min-height: calc(100vh - 225px);
}

.tSK {
    color: #808080;
}

.tS1 {
    color : #4169E1;
}

.tS2 {
    color : #DC143C
}

.footer {
    background-color: #005778;
    position : absolute;
    max-width: 100%;
    height: 150px;
    padding-top: -150px;
    right: 0;
    left:0;

    color: #FFC72C;
}

.btn-footer {
    color : #FFC72C;
}

.version {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.logo {
    padding-top: 15px;
    max-width: 72px;
    height: auto;
    /*width="72px" height="97px"*/
}

p {
    padding-top: 15px;
}

@media print {
    .footer {
        display: none;
    }
    .tabBord {
        display : none;
    }

    .btn{
        display: none;
    }

    @page {
        size: landscape;
    }
}


/* #DC143C rouge
   #4169E1 bleu
   #808080 SK*/